<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_DIR">${sys:slauncher.logDir}</Property>
        <Property name="LOG_NAME">${sys:slauncher.logName}</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <!-- Консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <!-- Файл с ротацией -->
        <RollingFile name="File"
                     fileName="${LOG_DIR}/${LOG_NAME}.log"
                     filePattern="${LOG_DIR}/${LOG_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <!-- Асинхронный wrapper -->
        <Async name="Async">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Async>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>