# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-macos:
    strategy:
      matrix:
        include:
          - os: macos-13
            arch: x64
          - os: macos-14
            arch: aarch64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          architecture: ${{ matrix.arch }}

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x gradlew
      - run: ./gradlew packageApp

      - uses: actions/upload-artifact@v4
        with:
          name: bootstrap-macos-${{ matrix.arch }}
          path: build/installer
